:root {
    --header-background: white;
    --header-color: #444444;
    --blue-color: #2196F3;
    --header-color-hover: #222222;
    --header-separator: #f1f1f1;
    --sidebar-width: 250px;
    --sidebar-background: white;
    --sidebar-top-background: white;
    --sidebar-separator: #f1f1f1;
    --sidebar-color: #444444;
    --sidebar-item-active-background: #f1f1f1;
    --sidebar-item-hover-background: #f9f9f9;


    --value-default-color: #6a3fa8;
    --value-deficit-color: #f15a24;
    --value-surplus-color: #009245;
    --panel-header-color: #4d4d4d;
    --label-color: #808080;
    --very-low: #3094b7;
    --low: #8757d3;
    --medium: #fbb03b;
    --high: #ef8130;
    --very-high: #ed1c24;
    --undetected:  #e6e6e6;

}